<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<script src="https://cdn.traitify.com/lib/v1.js"></script>
	<script src="https://openui5.hana.ondemand.com/resources/sap-ui-core.js" 
                    data-sap-ui-libs="sap.m" 
                    data-sap-ui-theme="sap_bluecrystal"></script>
    <script src="http://crittercism-html5.s3.amazonaws.com/v2/15/crittercismClientLibraryMin.js"></script>
</head>
<body id='content' class='sapUiBody'>
	<style>
		body{
			font-size: 16px;
			font-family: arial;
		}
		h2{
			font-size: 20px;
			color: green;
		}
		img{
			width: 80px;
		}
		ul {
			list-style-type: none;
			padding-left: 10px;
		}
		li {
			border: 2px solid blue;
			border-radius: 5px;
			padding-left: 10px;
		}
	</style>
	<% var list = JSON.stringify(data[0]) %>
	<ul>
		<% data.forEach(function(data) { %>
    		<li>
    			<div class='user-list'>
    				<h2><%= data.trait1 %></h2>
    				
    				<%= data.name %> - <%= data.description %> - <%= data.property1 %>
    				<% if( data.property2 ){ %>
						<img src='http://i.imgur.com/mQBnTzJ.png'/>
    				<% }%>
    				<% if( data.property3 ){ %>
						<img src='http://i.imgur.com/4YVP9OT.jpg'/>
    				<% }%>
    				<% if( data.property4 ){ %>
						<img src='http://i.imgur.com/UK9SXmY.jpg?1'/>
    				<% }%>
    				<% if( data.property1 == 'landlord' ){ %>
						<img src='http://airpollution.org.uk/wp-content/uploads/2014/10/Landlord-Insurance.jpg'/>
    				<% }%>
    				<a href="mailto:james@someplace.com?Subject=Hello%20again" target="_top">Email</a>
    			</div>
    		</li>
		<% }); %>
	</ul>

    <script>
        var page1 = new sap.m.Page('page1', {
        	title: 'Assessment Selection Page',
        	content: [
	        	new sap.m.Button({
	        		text: 'Renter',
	        		press: function(){
	        			window.location.href = "/assessment";
            			localStorage.person = 'landlord';
            			localStorage.id = <%-JSON.stringify(assessmentId)%>;
            			Crittercism.leaveBreadcrumb("User tapped renter");
	        		}
	        	}),
	        	new sap.m.Button({
	        		text: 'Landlord',
	        		press: function(){
	        			window.location.href = '/assessment';
        				localStorage.person = 'renter';
						localStorage.id = <%-JSON.stringify(assessmentId)%>;
						Crittercism.leaveBreadcrumb("User tapped landord");
					}
	        	})
        	]
        });
        var app = sap.m.App().addPage(page1).placeAt('content');
    </script>​
    <script>
      $(document).ready(function() {
        Crittercism.init({
          appId: '54d7b0a351de5e9f042ed804', // Example: 47cc67093475061e3d95369d
          appVersion: '1.0', // Developer-provided application version
        });
      });
      localStorage.slideIndex = 0;
    </script>    
</body>
</html>